<div class="todoItem">
    <!---<div *ngIf="showItem; then thenBlock; else elseBlock"></div>-->
    <div class="header" (click)="toggleShowItem()">
        TODO ITEM
    </div>
    <div *ngIf="showItem">
        <div class="detail">
            <div class="description">{{item.description}}</div>
            <div class="time">{{ item.time | date:'medium' }}</div>
        </div>
        <div class="footer">
            <button (click)="delete(item)" id="button">DONE</button>
        </div>
   </div>
</div>
